<div class="holy-tabs">
    <input class="holy-tab-input" id="holy-tab-1" type="radio" name="choice" checked>
    <label class="holy-tab" for="holy-tab-1">Alpha</label>
    <input class="holy-tab-input" id="holy-tab-2" type="radio" name="choice">
    <label class="holy-tab" for="holy-tab-2">Beta</label>
    <input class="holy-tab-input" id="holy-tab-3" type="radio" name="choice">
    <label class="holy-tab" for="holy-tab-3">Gamma</label>
    <input class="holy-tab-input" id="holy-tab-4" type="radio" name="choice">
    <label class="holy-tab" for="holy-tab-4">Delta</label>
    <div class="holy-content"> <!-- tab 1 -->
      <table class="c-table">
        <thead class="c-table__header">
          <tr>
            <th class="c-table__col-label quality">Quality</th>
            <th class="c-table__col-label file_size">File Size</th>
            <th class="c-table__col-label download">Download</th>
          </tr>
        </thead>
        <tbody class="c-table__body">
          <tr>
            <td class="c-table__cell">🇦🇺 Melbourne</td>
            <td class="c-table__cell">🇦🇺 Melbourne</td>
            <td class="c-table__cell"><input class="downloadBtn" type="button" value="Download"></td>
          </tr>
        </tbody>
      </table> 
    </div>
    <div class="holy-content"> <!-- tab 2 -->
      <p>Beta is the second letter of the Greek alphabet. In the system of Greek numerals it has a value of 2. Beta is often used to denote a variable in mathematics and physics, where it often has specific meanings for certain applications.</p>
      <p>In physics a stream of unbound energetic electrons is commonly referred to as beta radiation or beta rays.</p>
    </div>
    <div class="holy-content"> <!-- tab 3 -->
      <p>Gamma is the third letter of the Greek alphabet. In the system of Greek numerals it has a value of 3</p>
      <p>The lowercase Latin gamma ɣ can also be used in contexts (such as chemical or molecule nomenclature) where gamma must not be confused with the letter y, which can occur in some computer typefaces.</p>
    </div>
    <div class="holy-content"> <!-- tab 4 -->
      <p>Delta is the fourth letter of the Greek alphabet. In the system of Greek numerals it has a value of 4</p>
      <p>A river delta (originally, the Nile River delta) is so named because its shape approximates the upper-case letter delta (the shape is a triangle).</p>
    </div>
  </div>